.BackgroundProDok{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.ProfilDocBoxTwo{
    width: 100%;
    padding: 40px;
}
.ProfilDocBoxOne{
    width: 300px;
}

@media only screen and (max-width: 600px) {
    .ProfilDocBoxOne{
        width: 100%;
    }
    .BackgroundProDok{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

}
