.DokProfilCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color:#ffffff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    height: auto;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.DokBackgroundProfilCard{
    width: 100%;
    height: 300px;
    border-radius: .5rem;
    background-color:#19bf9d;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px;
}
.DokBoxProfilImg{
    width: 100%;
    height: 180px;
    border-color: #19bf9d;
    border-radius: 100%;
    margin-left: auto;
}
.DokNamaProfil{
    margin-top: 20px;
}
.DokBoxBtnProfil{
            color: #fff;
            margin-top: 10px;
            width:100%;
            font-size: 18px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
}
.BtnEditProfilDok{
            color: #fff;
            background-color:#19bf9d;
            border-color:#19bf9d;
            width:250px;
            font-size: 18px;
            margin-bottom: 15px;
           
}
.BtnEditProfilDok:hover{
    background-color: #efefef;
    border-color: #efefef;
    color: #19bf9d;
}


@media only screen and (max-width: 600px) {
   
    .BtnEditProfilDok{
        color: #fff;
        background-color:#19bf9d;
        border-color:#19bf9d;
        width: 80%;
        font-size: 18px;
        margin-bottom: 15px;   
    }
        .BtnEditProfilDok:hover{
            background-color: #efefef;
            border-color: #efefef;
            color: #19bf9d;
        }
    .BoxNavProfilDOk{
        display: flex;
        flex-direction: row;
    }
    .DokBackgroundProfilCard{
    width: 100%;
    height: 300px;
    border-radius: .5rem;
    background-color:#19bf9d;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px;
}
.DokBoxProfilImg{
    border-radius: none;
   
}

}