.KotakDokProfilLaporan{
    width: 1005;
    height: 800px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    margin-top: 35px;
}

.FotoDokProfil1{
    width: 300px;
    height: 200px;
    margin-left: 35px;
  
}

.NamaPasienDokProfil{
    width: 100%;
    height: 61px;
    text-align: right;
    
}

.NamaPasienDokProfil1 {
    margin-right: 100px;
    padding: 50px;
    color: #747474
}

.ButtonDokProfil{
    margin-top: 50px;
    margin-left: 60px;
}

.ButtonDokProfil1{
    width: 200px;
    height: 40px;
    margin-left: 250px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.KotakDokProfil1{
    width: 600px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    margin-top: 30px;
    margin-left: 75px;   
}

.KotakDokProfil2{
    width: 600px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color:#efefef;
    margin-top: 30px;
    margin-left: 75px;   
}

