.CardListPasienUnpicked{
    padding: 15px;
    width: 300px;
    height: 320px;
    display: flex;
}

.ButtonPasienUnpicked{
    width: 120px;
    margin: 10px;
}
.BackPfofilDoxUnpick{
    width: 100%;
}

.CardDocUnpick{
    width: 300px;
    height: auto;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    margin: 40px;
    padding: 20px;

    
}
.BackContDocUnpick{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-direction: center;
}
.PhotoDokUnpick{
    width: 100%;
    height: 150px;
 
}
.BackgorundBan{
    width: 100%;
    display: flex;
    text-align: -webkit-center;
    font-family: arial;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.DocTitleUnpick{
    font-family: arial;
    margin: 10px;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #747474;
}
.DokDeskripsiUnpik{
  color: #747474;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
}
.BtnDetDocUnpick{
    width: 50%;
    margin: 10px;

}