.KotakDokProfilTtgPasien{
    width: 1005;
    height: 900px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    margin-top: 35px;
}

.TableDokTtgPasien {
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}

.LatarBelakangPasien{
    margin-left: 40%;
}

.LatarBelakangPasien1{
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}