.ProfileDok {
    width: 275px;
    height: 625px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #efefef;
    position: inherit;
    padding: 10px
   
}

.PhotoDok{
    height: 275px;
    background-color: #19bf9d;
    align-content: center;
    display: flow-root;
    justify-content: center;
}

.FontDok{
    justify-content: center;
    font-family: Arial;
    color: white;
    font-size: 30px;
    padding: 5px;
    text-align: center;
}

.Namaedit{
    height: 24px;
    font-family: Arial;
    font-size: 20px;
    color: white;
}

.NameDok{
    width: 100%;
    font-family: Arial;  
    font-size: 25px; 
    color: white;
    display: flex;
    justify-content: center;
    
}


.line{
    width: 776px;
    border-bottom: 0.1px;
    border-style: solid;
    opacity: 1;
    border-color:#19bf9d
}

.FontPasien {
    font-family:Arial;
    font-size: 30px;
    color: #747474
}

.FotoPas {
    padding: 15px;
    width: 300px;
    height: 275px;
    display: flex;

}

.But {
    padding: 25px;
    justify-content: center;
    
}

.ml-auto{
    padding: 30px;
}

@media only screen and (max-width: 600px) {

}