.TextPasungDokLaporanDetail{
    width: 100%;
    height: 300px;
}

.lineLaporanDetail{
    width: 50px;
    border-bottom: 0.1px;
    border-style: solid;
    opacity: 1;
    border-color:#19bf9d
}

.TextDokDetail2{
    font-family: Arial;
    color: #747474;
}