
.BtnProfilDocPasien{
    width: 250px;
    border-bottom: 1px;
    margin-top: 10px;
    border: 2px;
    font-family: arial;
}
@media only screen and (max-width: 600px) {
    .BtnProfilDocPasien{
        width: 150px;
        border-bottom: 1px;
        margin: 10px;
        border: 2px;
        font-family: arial;
    }
}