.CardBanner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    height: 300px;
    margin: 40px;
    padding: 20px;
    
}

.BackgroundImg{
    width: 100%;
    height: 610px;
    background-image: url(../Img/BackgroundHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
  
}
.BackText{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.TagLine{
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: white;
}
.BackgorundBan{
    width: 100%;
    display: flex;
    text-align: -webkit-center;
    font-family: arial;
    display: flex;
    justify-content: center;
}
.title{
    font-family: arial;
    margin: 10px;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #747474;
}
.Deskripsi{
  color: #747474;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
}
@media only screen and (max-width: 600px) {

    .BackgorundBan{
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: arial;
        flex-direction: column;
        
    }
    .BackgroundImg{
        width: 100%;
        height: auto;
        background-color: #747474;
        background-size: cover;
        background-repeat: no-repeat
      
    }
    .CardBanner{
        margin-top: 10px;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .5rem;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
       
    
    }
    .title{
        font-family: arial;
        margin: 18px;
        font-size: 22px;
        text-align: center;
        color: #747474;
    }
    .Deskripsi{
      color: #747474;
      font-size: 15px;
      text-align: center;
    }
    .BackText{
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .IconCard{
        height: 90px;
    }
}