
.HomeInfoGrafis{
    width: 370px;
}
.BackgroundInfografis{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;

}
    .TextInfo{
        width: auto;
        height: auto;
    }
        .TextLineOneInfo{
            font-size: 25px;
            font-family: arial;
            color: gray;
            line-height: 1.23;
            letter-spacing: normal;
            text-align: left;
            padding-left: 10px;
        }
        .TextLineTwoInfo{
            font-size: 17px;
            color: #6c757db3;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            display: flex;
            justify-content: center;
            padding-left: 10px;
        }
        .TextInfoGrafis{
            display: flex;
            flex-direction: column;
            height: 200px;
            padding: 10px;
        }
@media only screen and (min-width: 600px) {

    .HomeInfoGrafis{
        width: 450px;
    }
    .BackgroundInfografis{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 40px;
        width: 100%;
    
    }
    .TextInfoGrafis{
        display: flex;
        flex-direction: column;
        padding: 40px;
        height: 310px;
        justify-content: center;
    }
        .TextInfo{
            width: auto;
            height: auto;
        }
            .TextLineOneInfo{
                font-size: 30px;
                font-family: arial;
                color: gray;
                line-height: 1.23;
                letter-spacing: normal;
                text-align: left;
            }
            .TextLineTwoInfo{
                font-size: 17px;
                color: #6c757db3;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: left;
            }

}