//-----------------------------TahapSatu-----------------------------//
.BgBannerTahapSatu {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.TextBannerTahapSatu {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.TextTahapSatu {
    width: auto;
    height: auto;
    margin-top: 75px;
}
.TextSatuTahapSatu {
    color: grey;
    font-size: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.TextDuaTahapSatu {
    color: grey;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.ImgBannerTahapSatu {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.BannerTahapSatu {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

//-----------------------------TahapDua-----------------------------//
.BgBannerTahapDua {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.TextBannerTahapDua {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.TextTahapDua {
    width: auto;
    height: auto;
    margin-top: 75px;
}
.TextSatuTahapDua {
    color: grey;
    font-size: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.TextDuaTahapDua {
    color: grey;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.ImgBannerTahapDua {
    display: flex;
    justify-content: flex-start;
    width: 40%;
}
.BannerTahapDua {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
}
//-----------------------------TahapTiga-----------------------------//
.BgBannerTahapTiga {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.TextBannerTahapTiga{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.TextTahapTiga {
    width: auto;
    height: auto;
    margin-top: 75px;
}
.TextSatuTahapTiga {
    color: grey;
    font-size: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.TextDuaTahapTiga {
    color: grey;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.ImgBannerTahapTiga {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.BannerTahapTiga {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
    //-----------------------------TahapSatu-----------------------------//
.BgBannerTahapSatu {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    margin-top: -30px;
}
.TextBannerTahapSatu {
    display: flex;
    flex-direction: row;
    width: 45%;
}
.TextTahapSatu {
    width: auto;
    height: auto;

}
.TextSatuTahapSatu {
    color: grey;
    font-size: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.TextDuaTahapSatu {
    color: grey;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.ImgBannerTahapSatu {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-top: 30px;
    padding-top: 30px;
    margin-left: 30px;
}
.BannerTahapSatu {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

//-----------------------------TahapDua-----------------------------//
.BgBannerTahapDua {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
}
.TextBannerTahapDua {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.TextTahapDua {
    width: auto;
    height: auto;

}
.TextSatuTahapDua {
    color: grey;
    font-size: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.TextDuaTahapDua {
    color: grey;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.ImgBannerTahapDua {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    margin-top: 30px;
    padding-top: 30px;
    margin-right: 30px;
}
.BannerTahapDua {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
//-----------------------------TahapTiga-----------------------------//
.BgBannerTahapTiga {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
}
.TextBannerTahapTiga{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.TextTahapTiga {
    width: auto;
    height: auto;

}
.TextSatuTahapTiga {
    color: grey;
    font-size: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.TextDuaTahapTiga {
    color: grey;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.ImgBannerTahapTiga {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 30px;
    padding-top: 30px;
}
.BannerTahapTiga {
    width: 200px;
    height: 200px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

}