.Card{
    border: 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(0,0,0,.125);
    border-radius: .50rem;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 40px;
    text-align: center;
    justify-content: center;
    margin: auto;

}
.CardLoginSosial{
    border: 1px;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    width: 400px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(0, 0, 0, 0.125);
    border-radius: .50rem;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 20px;
    justify-content: center;
    margin: auto;
    
}
.ContainerSec{
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

.IconFb{
    height: 40px;
    width: 40px;
    margin-left: 20px;
}
.IconGmail{
    height: 47px;
    margin-left: 20px;
}
.SosialTag{
    margin: 10px;
}
.ContainerSec{
    margin-top: 40px;
    text-align: center;
}
.Syarat{
    padding-left: 70px;
}
.CheckBox{
    text-align: justify;
}
.form-check-label{
    padding-left: 20px;
}
.BtnLogin{
    margin-top: 10px;
    width: 100%;
    color:white;
    background-color: #de3163;
    border-color: #de3163;
}