.BgAkunActivated {
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
}

.TextSatuAkunActivated {
    color: grey;
    text-align: center;
    font-size: 70px;
}

.TextDuaAkunActivated {
    color: grey;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.BotActivated{
    width: 100%;
    display: flex;
    justify-content: center;
}

.BtnActivated {
    width: 350px;
    color: white;
    background-color: #de3163;
    border-color: #de3163;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
.BgAkunActivated {
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    }
.TextSatuAkunActivated {
    color: grey;
    text-align: center;
    font-size: 45px;
}

.TextDuaAkunActivated {
    color: grey;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.BtnActivated {
    width: 300px;
    color: white;
    background-color: #de3163;
    border-color: #de3163;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
}