.FooterBackground{
    height: 80px;
    width: 100%;
    background-color: gainsboro;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .FooterIconLogo{
    width: 300px;
    height: 60px;
    
  }
  .FooterBoxOne {
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: flex-end;
  }
  .FooterBoxTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 
  .FooterTagLineSatuB {
    color: #dc4f81;
  }
  .FooterTagLineSatu {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border-radius: 0.25rem;
      width: 360px;
      color: grey;
  }
  .FooterTagLineTiga {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    width: 360px;
    text-align: justify;
    width: 400px;
    padding-left: 200px;
  }
  .FooterTagLineTigaB{
    color: #dc4f81;
  }
  
  .FooterTagLineTigaC{
    color: grey;
  }
  .FooterTagLineEmpat {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    width: 360px;
    text-align: justify;
    padding-left: 190px;
  }
  
  .FooterTagLineEmpatB {
    color: grey;
  }
  
  .FooterTagLineEmpatC {
    color: grey;
  }
  
  .FooterTagLineEmpatD {
    color: #dc4f81;
  }
  .FooterTagLineDua {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    width: 360px;
    color: grey;
  }
  .FooterLine{
    width: 1145px;
    border-bottom: 0.1px;
    border-style: solid;
    opacity: 0.2;
    border-color: #424040;
    margin-left: -20px;
    margin-top: 30px;
  }
  .FooterLineSimbol {
    color: grey;
    margin-top: 15px;
  }
  .FooterIconSatu{
    margin-left: 10px;
    margin-right: 10px;
  }

  .TagLineFooterSatu{
      padding-top: 16px;
      margin-right: 19px;
    }
  @media only screen and (max-width: 600px) {
    .FooterBoxTwo {
      display: flex;
      flex-direction: column;
    }
    .FooterTagLineTiga {
      padding-left: 0px;
    }
    .FooterTagLineEmpat {
      padding-left: 0px;
    }
    .FooterTagLineDua {
      display: none;
    }
  
    .FooterTagLineDuaB {
      color: grey;
    }
    .FooterLogo {
      width: 50px;
      height: 60px;
      
    }
  .BtnTrmksh{
    margin-top: 10px;
    width: 250px;
    color:white;
    background-color: #de3163;
    border-color: #de3163;
  }

  .FooterBackground{
    width: 100%;
    height: 135px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

  }
  .FooterIconSatu{
    height: 40px;
  }
  .FooterBoxOne {
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: center;
  }
  .TagLineFooterSatu{
    display: none;
  }
  .FooterLine{
    width: 100%;
    border-bottom: 0.1px;
    border-style: solid;
    opacity: 0.2;
    border-color: #424040;
    margin-left: -20px;
    margin-top: 30px;
  }
   

}