.BackgroundHeader {

    width: 100%;
    height: 100vh;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('../Img/BackgroundHeader.png');
    
  }
.ContainerHeader{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width:100%;
    height: 146px; 

}
.BtnLapor{
    width: auto;
    margin: 20px;
    }
    .Lapor{
            color: #fff;
            background-color: #19bf9d;
            border-color:#19bf9d;
            width:150px;
            font-size: 18px;
            
        }
.BtnDocter{
        width: auto;
        padding: 20px;
        }
    .Docter{
            color: #fff;
            background-color:none;
            border-color: white;
            width:150px;
            font-size: 18px;
            
        }
.PasungTaglineHome{
            width: auto;
            height: 50px;
            font-size: 25px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.22;
            letter-spacing: normal;
            text-align: center;
            color: var(--white);
        
        }
@media only screen and (min-width: 600px){
    .PasungTaglineHome{
        width: 100%;
        height: 146px;
        font-size: 60px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: center;
    
    }
    .BtnLapor{
        width: auto;
        margin: 20px;
        }
        .Lapor{
                color: #fff;
                background-color: #19bf9d;
                border-color:#19bf9d;
                width:350px;
                font-size: 30px;
                
            }
        .BtnDocter{
            width: auto;
            padding: 20px;
            }
        .Docter{
                color: #fff;
                background-color:none;
                border-color: white;
                width:350px;
                font-size: 30px;
                
            }
}

.ContainerBotHome {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    position: relative;
}
