.BtnLapor2{
   
    width: 100%;
    color:white;
    background-color: #de3163;
    border-color: #de3163;
}
.PasungLaporBack{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;

    height: 600px;
}
.Kondisi{
    width: 100%;
    height: 70px;
}