.BgSudahLapor {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
}

.TextSatuSudahLapor {
    color: grey;
    text-align: center;
    font-size: 90px;
}

.TextDuaSudahLapor {
    color: grey;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
}

.TextTigaSudahLapor {
    color: grey;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: -18px;
}

.BotSudahLapor {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.BtnSudahLapor {
    width: 350px;
    color: white;
    background-color: #de3163;
    border-color: #de3163;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .BgSudahLapor {
        margin-top: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    
    .TextSatuSudahLapor {
        color: grey;
        text-align: center;
        font-size: 65px;
    }
    
    .TextDuaSudahLapor {
        color: grey;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .TextTigaSudahLapor {
        color: grey;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-top: -18px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .BotSudahLapor {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .BtnSudahLapor {
        width: 300px;
        color: white;
        background-color: #de3163;
        border-color: #de3163;
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
    }
}