.BgAktivasiAkun {
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
}

.TextSatuAktivasiAkun {
    color: grey;
    text-align: center;
    font-size: 70px;
}

.TextDuaAktivasiAkun {
    color: grey;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}

.BotAktivasiAkun {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.BtnTrmksh {
    width: 350px;
    color: white;
    background-color: #de3163;
    border-color: #de3163;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;

}

@media only screen and (max-width: 600px) {
    .BgAktivasiAkun {
        margin-top: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 100%;
    }

    .TextSatuAktivasiAkun {
        color: grey;
        text-align: center;
        font-size: 45px;
    }

    .TextDuaAktivasiAkun {
        color: grey;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .BoxTextAktivasiAkun{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    .BtnTrmksh {
        width: 300px;
        color: white;
        background-color: #de3163;
        border-color: #de3163;
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
    
    }
}