
.FooterBannerTwoBox {
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-direction: column;

   
  }
  .FooterBannerTagOne {
    width: 300px;
    font-size: 20px;
    padding-top: 20px;
    margin-left: 40px;
   
  }
  .FooterBpjs {
    width: auto;
    margin-top: 10px;
   
    
  }
  .FooterKementrian {
    width: 200px;
    margin-top: 10px;
    margin-left: 40px;
  
  }


@media only screen and (min-width: 600px){
  .FooterBannerTwoBox {
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: center;
  
     
    }
  .FooterBannerTagOne {
    width: 300px;
    font-size: 20px;
    padding-top: 20px;
   
  }
  .FooterBpjs {
    width: 300px;
    padding-left: 20px;
    
  }
  .FooterKementrian {
    width: auto;
    margin-left:  35px;
  }
}