.BgDaftarDokter {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}

.TextSatuDaftarDokter {
    color: grey;
    text-align: center;
    font-size: 60px;
}

.TextDuaDaftarDokter {
    color: grey;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
}

.TextTigaDaftarDokter {
    color: grey;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: -18px;
}

.TextEmpatDaftarDokter {
    color: grey;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.BtnKlik {
    color: #de3163;
}

.BotDaftarDokter {
    width: 100%;
    display: flex;
    justify-content: center;
}

.BtnDaftarDokter {
    width: 350px;
    color: white;
    background-color: #de3163;
    border-color: #de3163;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .BgDaftarDokter {
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 100%
    }

    .TextSatuDaftarDokter {
        color: grey;
        text-align: center;
        font-size: 40px;
    }
    
    .TextDuaDaftarDokter {
        color: grey;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
    }
    
    .TextTigaDaftarDokter {
        color: grey;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }

    .TextEmpatDaftarDokter {
        color: grey;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }

    .BtnDaftarDokter {
        width: 300px;
        color: white;
        background-color: #de3163;
        border-color: #de3163;
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
    }
    
}