.BgContent{
    margin-bottom: 50px;
}
.Card{
    border: 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(0,0,0,.125);
    border-radius: .50rem;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 40px;
    text-align: center;
    justify-content: center;

}
.CardTwo{
    border: 1px;
    display: inline-block;
    flex-direction: column;
    width: 370px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(0,0,0,.125);
    border-radius: .50rem;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 40px;
    margin: auto;
}

.TitleRegister{
    padding-bottom: 20px;
    font-family: 'Arial';
}
.TitleSosial{
    font-size: 20px;
    font-family: 'Arial';
    margin-bottom: 20px;
}
.BtnDaftar{
    margin-top: 10px;
    width: 100%;
    color:white;
    background-color: #de3163;
    border-color: #de3163;
}

.AkunSosial{
        display: inline-block;
        text-align: center;
        margin: 10px;
}
.ContainerSec{
    margin-top: 40px;
    text-align: center;
}