.DokProfilCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    height: 500px;
}
.DokBackgroundProfilCard{
    width: 100%;
    height: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px;
}
.DokBoxProfilImg{
    width: 100%;
    height: 180px;
    background-color: #fff;
    border-color: aqua;
    border-radius: 100%;
    margin-left: auto;
}
.DokNamaProfil{
    margin-top: 20px;
}
.DokBoxBtnProfil{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 10px;
    width:100%;
    font-size: 18px;
    justify-content: center;
}

.BtnEditProfilDok{
            color: #fff;
            background-color: #19bf9d;
            border-color:#19bf9d;
            width:150px;
            font-size: 18px;
           
}
@media only screen and (max-width: 600px) {

}