

.TextLineStyle{
    font-size: 20px;
    color: gray;

}
.BackgroundBot{
    padding: 50px;
    width: 100%;
    background-color:#dcdcdc;
    justify-content: center;
    text-align: center;
}
.BtnBot{
    margin-top: 30px;
    width: 150px;
    color: white;
    background-color: #de3163;
    border-color:#de3163;
    height: auto;
    font-size: 15px;
}
@media only screen and (min-width: 600px){
.TextLineStyle{
    font-size: 35px;
    color: gray;
}

.BtnBot{
    margin-top: 30px;
    width: 300px;
    color: white;
    background-color: #de3163;
    border-color:none;
    height: auto;
    font-size: 20px;
}
.BackgroundBot{
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#dcdcdc;
    justify-content: center;
    text-align: center;
}
}