.Nav{
    background-color:none;
}
.logoone{
    width: 250px;
    height: 34px;
}
.NavLink{
    font-family: arial;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}
.NavLink:hover {
    color:rgb(171, 66, 241);
    text-decoration-line: none;
 }
 .NavTwo{
    background-color:#de3163;
  }
  .logo2{
      width: 180px;
      height: auto;
  }


.register{
    font-family: arial;
    font-size: 25px;
    color: white;
    margin-left: 10px;
}


.PasungBodyModal{
    height: auto;
    widows: 400px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    text-align: center;

}
.PasungBodyModalText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ModalBtnOne{
    width: 200px;
    height: auto;
    margin: 10px;
}

 @media only screen and (min-width: 600px){

    .NavLink{
        font-family: arial;
        font-size: 25px;
        color: white;
        margin-left: 10px;
    }
    
 }