.KotakUserBuatLaporan{
    width: 250px;
    height: 275px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    margin-top: 35px;
}

.FotoUserLaporan{
    width: 220px;
    height: 150px;
}

.FotoUserLaporan1{
    width: 220px;
    height: 150px;
    margin-left: 15px;
    margin-top: 15px;
}

.NamaUserBuatLaporan1{
    margin-left: 15px;
    margin-top: 15px;
}

.NamaUserBuatLaporan2{
    margin-left: 15px;
    margin-top: 15px;
}

.ButtonUserBuatLaporan{
    margin-top: 20px;
}